faculty-service-greeting: 'Welcome to Faculty service'

# General config for student service and faculty service
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    preferIpAddress: true
